/* inverted theme colors */
body {
    background: #0f0f0f;
    color: #f5f5f5;
}

.mobile-video {
    display: none;
}

#topnav {
    width: 100%;
}

.menu-content {
    background: #f5f5f5;
}

.close-bar1,
.close-bar2 {
    background: #0f0f0f;
}

.menu-content h2,
.menu-content a {
    color: #0f0f0f;
}

.menu-content a:hover {
    color: #00b688;
}

.footer-outer {
    background: #f5f5f5;
}

.footer-outer,
.footer-outer a {
    color: #0f0f0f;
}

.footer-outer a:hover {
    color: #00b688;
}

.tablet {
    display: block;
}

.mobile {
    display: none;
}

.mobile-footer {
    display: none;
}

/* header */
.section-background {
    position: relative;
    text-align: center;
}

.section-background h1 {
    font-family: 'Work Sans', sans-serif;
    font-size: 6em;
    text-shadow: 1px 1px 20px #c7b8b9df;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.intro-fade {
    position: absolute;
    background: rgba(20, 20, 20, 0.5);
    height: 100%;
    animation: none;
}

/* main text */
.intro-text {
    padding: 70px 0 20px 20px;
}

.intro-text h2 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 100;
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 10px;
}

.intro-text p,
.main-text p,
.falcon-text p {
    font-size: 1.1em;
    line-height: 25px;
    animation: none;
}

.main-text h2 {
    margin-bottom: 0;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.5em;
}

.main-text h3,
.falcon-text h3 {
    margin: 0;
    margin-top: 10px;
}

.main-text,
.falcon-text {
    padding-left: 20px;
}

.falcon-text h2 {
    margin-bottom: 0;
    font-family: 'Work Sans', sans-serif;
    margin-top: 100px;
    font-size: 2em;
}

.falcon-text h2:nth-child(2) {
    margin-top: 0px;
}

/* videos */
.video {
    margin: 20px;
    border-radius: 3px;
    border: none;
}

.videos figure {
    margin: 0;
}

iframe,
video {
    width: 100%;
    border: none;
}

.videos h2 {
    margin: 40px 0 0 0;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.5em;
    padding-left: 20px;
    animation: none;
}

.videos h2:nth-child(2) {
    margin-top: 40px;
}

#toTopBtn {
    position: sticky;
    bottom: 0;
    margin: 0px;
    float: right;
}

.circle {
    width: 70px;
    height: 70px;
    border-radius: 100px;
    border: none;
    margin-right: 100px;
    margin-bottom: 40px;
    background: #212121cc;
    padding-bottom: 5px;
    text-align: center;
    font-size: 2.8em;
    color: #515151cc;
    cursor: pointer;
}

.circle:hover {
    background: #3f3f3fcc;
    color: #9c9c9ccc;
    transition: none;
}

.footer-outer {
    margin-top: 0;
}

@media only screen and (max-width: 1800px) {
/* remove overlapping "to top" arrow */
    .top-arrow {
        display: none;
    }

    .footer-outer {
        margin-top: 80px;
    }
}

@media only screen and (max-width: 1024px) {
/* laptop responsive */
    .section-background h1 {
        top: 25%;
    }
}
    
@media only screen and (max-width: 800px) {
/* tablet responsive */
    .mobile {
        display: block;
    }

    .section-background h1 {
        font-size: 4em;
    }
    
    .mobile-footer {
        display: block;
    }

    .col-8 {
        width: 97%;
    }
}
    
@media only screen and (max-width: 500px) {
/* mobile responsive */
    .desktop-video {
        display: none;
    }
    
    .intro-text h2 {
        margin-top: -100px;
    }
    .mobile-video {
        display: block;
    }
    
    .section-background h1 {
        top: 30%;
    }
        
    .header-text {
        padding: 10px;
    }

    .intro-text h2 {
        font-size: 1.6em;
        margin-bottom: 0;
    }
    
    .header-text h2 {
        font-size: 1.6em;
        margin-bottom: 10px;
    }

    .falcon-text h2 {
        margin-top: 50px;
    }

    .videos h2,
    .main-text h2 {
        margin-top: 20px;
    }
}
    
@media only screen and (max-width: 500px) {
/* mobile small sesponsive */
    .section-background h1 {
        font-size: 3em;
    }
    
    #upcoming-launches {
        font-size: 1.6em;
    }
    .header-text {
        padding: 0;
    }
}